.display {
    background-color: bisque;
    flex: 0 0 95%;
    height: 80px;
    text-align: right;
    padding: 10px;
    border-radius: 8px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    color: black;
    margin: 10px
    }


